[Desktop Entry]
Version=1.0
Type=Application
Name=daspelling
GenericName=Spelling software
Comment=learning how to spell words
Icon=spelling
Exec=daspelling %f
Categories=teaching;
Keywords=spelling;
